# Python

**pycache**/
*.pyc
*.pyo
*.pyd
venv/
.env

# Jupyter

.ipynb_checkpoints/

# MATSim outputs

matsim/output/
*.log

# Data ( ignore large/raw files) -> might change this later

data/

# LaTeX

*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# OS / Editor

.DS_Store
Thumbs.db
.vscode/
.idea/
